margin:0;
font-family:Arial;
background:#dff7d9;
overflow-x:hidden;
text-align:center;

}

.hero{

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;

}

h1{

font-size:40px;
color:#2f6b2f;

}

button{

padding:15px 30px;
border:none;
border-radius:40px;
background:#79c66b;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;

}

button:hover{

transform:scale(1.1);

}

.hidden{

display:none;

}

img{

width:250px;
border-radius:20px;
margin:15px;
box-shadow:0 10px 25px rgba(0,0,0,.2);

}

.gallery{

padding:40px;

}

.gallery img{

width:180px;

}

.letter{

padding:40px;
font-size:20px;
line-height:35px;

}

.ending{

padding:80px;

}

.heart{

position:fixed;
font-size:20px;
animation:fall linear forwards;

}

@keyframes fall{

0%{

transform:translateY(-100px);

}

100%{

transform:translateY(120vh);

}

}